* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f5f7fa;
  color: #222;
}

/* Navbar */
header {
  background: #111;
  color: rgb(243, 235, 235);
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.logo {
  font-size: 1.5rem;
}

.logo span {
  color: #f56464;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #f55764;
}

/* Sections */
.section {
  padding: 100px 10%;
  text-align: center;
}

.home {
  height: 100vh;
  background: linear-gradient(135deg,rgb(248, 248, 248));
  color: rgb(10, 7, 7);
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.home-content h2 {
  font-size: 3rem;
}
.home-content img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 80px 0;
}
.home-content span {
  color: #222;
  background: rgb(246, 246, 246);
  padding: 0 5px;
  border-radius: 5px;
  box-shadow: 0 10px 5px rgba(249, 89, 89, 0.965);
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;

}
.home-content p {
  margin-top: 20px;
  font-size: 1.2rem;
  margin-top: 50px;
}

.btn {
  background: white;
  color: #f43a5c;
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 20px;
  transition: 0.3s;
}

.btn:hover {
  background: #0f7679;
  color: rgb(255, 255, 255);
}

/* About */
.about p {
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.6;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.skill {
  background: #f84b7f;
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: 500;
}
.about h2 {
  color: #030101;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  font-size: 2rem;
}
/*skill Bar*/
.skill-bar {
  max-width: 600px;
  margin: 50px auto;
}
.skill-bar h3 {
  margin-bottom: 10px;
  color: #080404;
}
.skill-bar .bar {
  background: #f95c5c;
  border-radius: 20px;
  overflow: hidden;
  height: 20px;
  margin-bottom: 15px 0;
  text-align: center;
  width: 100%;
}
.skill-bar .bar-fill {
  height: 100%;
  background: #fe5372;
  width: 50%;
  transition: width 1s ease-in-out;
}   
.skills-bar h2 {
  color: #030101;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  font-size: 2rem;
  text-align: center;
} 


/* Experience */
.experience-list {
  max-width: 700px;
  margin: 20px auto;
  text-align: left;
}
.experience h2 {
  color: #030101;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  font-size: 2rem;
}
.experience-item {
  margin-bottom: 20px;
}
.experience-item h3 {
  color: #080404;
  margin-bottom: 5px;
}
.experience p {
  line-height: 1.5;
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.6;
}

/* Projects */
.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.project-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgb(243, 87, 87);
  padding: 20px;
  width: 280px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgb(246, 97, 97);
  background-color: #319b99;
}

.project-card h3 {
  color: #080404;
  margin-bottom: 10px;
}
.project-card p {
  line-height: 1.5;
}
.projects h2 {
  color: #030101;
  text-decoration:underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  font-size: 2rem;
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.6;
}

/* Contact */
.contact-links a {
  color: #f75252;;
  margin: 10px;
  font-weight: 500;
  transition: 0.3s;
  text-decoration: none;
}

.contact-links a:hover {
  color: #222;
}
.contact h2 {
  color: #030101;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  font-size: 2rem;
}
.contact p {
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.6;
  }
  .contact h3 {
    color: #030101;
    text-decoration: none;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    font-size: 1.5rem;
    margin-top: 30px;
    max-width: 600px;
  margin: 20px auto;
  line-height: 1.6;
   
  }
  /* Form Section */
.contact-form {
  display: flex;
  flex-direction: column; 
  max-width: 500px;
  margin: 50px auto;
  gap: 15px;
  width: 100%;

}
.contact-form input,
.contact-form textarea {
  padding: 20px;
  border: 2px solid #f06464;
  border-radius: 5px;
  font-size: 1rem;
}
.contact-form button {
  background: #f43a5c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  width: 50%;
}
.contact-form button:hover {
  background: #0f7679;
}
.contact-form textarea {
  resize: vertical;
}
.contact-form h2 {
  color: #030101;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
  font-size: 2rem;
  text-align: center;
}

/* Footer */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}
